* {
    background-color: #1f1d2e;
}

body {
    color: #e0def4;
}

nav {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

ul {
    display: flex;
    align-items: center;
}

ul li {
    margin-right: 20px;
    list-style: none;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: #9ccfd8;
}

main {
    min-height: 100%;
    display: grid;
    grid-template-rows: 10rem 10rem 10rem 19rem 5rem;
    grid-template-columns: 5% 20% 20% 20% 10%;
    grid-row-gap: 10px;
    width: 100%;
}

button {
    color: #e0def4;
    border: none;
}

.slideout {
    font-size: 1.5rem;
}

.newnote {
    grid-column: 3;
    padding-top: 10rem;
}

#plus {
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
}

footer {
    grid-column: 4;
    grid-row: 5;
}

aside {
    min-height: 100%;
    display: grid;
    grid-template-rows: 5rem 3rem 3rem 3rem;
    grid-template-columns: 15rem 5rem;
    grid-row-gap: 5px;
    width: 20rem;
    background-color: #555169
}

.slidein {
    font-size: 1.5rem;
    grid-row: 1;
    grid-column: 2;
}

.noteslist {
    grid-row: 2;
    grid-column: 1;
}

.notearea {
    display: grid;
    grid-template-rows: 5rem 1rem 15rem 1rem;
    grid-template-columns: 20rem 2rem 25rem 10rem;
}

#newplus {
    font-size: 1.5rem;
    grid-row: 2;
    grid-column: 2;
}

#textarea {
    grid-row: 3;
    grid-column: 3;
    padding-left: 0.5rem;
    background-color: #555169;
}

.savedelete {
    grid-row: 4;
    grid-column: 3;
    justify-content: end;
    align-self: last baseline;
}