* {
    background-color: #1f1d2e;
}

body {
    color: #e0def4;
}

nav {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    width: 50%;
    margin-left: 50%;
}

.navlist {
    display: flex;
    align-items: center;
}

#navitem {
    margin-right: 20px;
    list-style: none;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: #9ccfd8;
}

main {
    display: grid;
    grid-template-rows: 10rem 10rem 10rem 19rem 5rem;
    grid-template-columns: 5% 20% 20% 20% 10%;
    grid-row-gap: 10px;
    width: 100%;
}

button {
    color: #e0def4;
    border: none;
}

.slideout {
    font-size: 1.5rem;
}

.newnote {
    grid-column: 3;
    padding-top: 10rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.notelist {
    display: flex;
    align-items: center;
    list-style: none;
}

#plus {
    font-size: 1.5rem;
    margin-right: 20px;
}

#createnew {
    padding-top: 1rem;
}

footer {
    grid-column: 4;
    grid-row: 5;
}

aside {
    height: 50rem;
    display: grid;
    grid-template-rows: 5rem 3rem 3rem auto;
    grid-template-columns: 8rem 5rem;
    grid-row-gap: 5px;
    width: 15rem;
    background-color: #555169;
}

.slidein {
    font-size: 1.5rem;
    grid-row: 1;
    grid-column: 2;
    background-color: #555169;
    margin-left: 2rem;
}

.noteslist {
    grid-row: 2;
    grid-column: 1;
    background-color: #555169;
    list-style: none;
}

#listitem {
    background-color: #555169;
    padding: 0.75rem;
}

.notearea {
    display: grid;
    grid-template-rows: 1rem 15rem 1rem;
    grid-template-columns: 2rem 25rem 10rem;
    margin-left: 20rem;
    margin-top: 10rem;
}

#newplus {
    font-size: 1.5rem;
    grid-row: 1;
    grid-column: 1;
}

#textarea {
    grid-row: 2;
    grid-column: 2;
    padding-left: 0.5rem;
    background-color: #555169;
}

.savedelete {
    grid-row: 3;
    grid-column: 2;
    justify-content: end;
    align-self: last baseline;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}